userjs-digger {
  --ud-text: #262626;
  --ud-text-secondary: #313131;
  --ud-bg: #f5f5f5;
  --ud-bg-secondary: #e5e5e5;
  --ud-bg-hover: #d4d4d4;

  --ud-border: #e5e7eb;
  --ud-border-secondary: #d1d5db;
}
.dark userjs-digger,
[data-color-mode='dark'] userjs-digger,
[data-theme='dark'] userjs-digger {
  --ud-text: #f5f5f5;
  --ud-text-secondary: #d5d5d5;
  --ud-bg: #262626;
  --ud-bg-secondary: #525252;
  --ud-bg-hover: #737373;

  --ud-border: #374151;
  --ud-border-secondary: #4b5563;
}
